* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
label,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.container-card {
    width: 968px;
    margin: 0 auto;
    padding: 0 16px;
}


:root {

    /* green */
    --green-bg-color: #02897A;
    --green-text-color: #fff;
    --green-btn-color: #fff;
    --green-btn-text: #02897A;
    --green-link-color: #fff;


    /* white */
    --white-bg-color: #FFF;
    --white-text-color: #22343D;
    --white-btn-color: #02897A;
    --white-btn-text: #fff;
    --white-link-color: #173A56;
}


.green {
    --bg: var(--green-bg-color);
    --text: var(--green-text-color);
    --btn: var(--green-btn-color);
    --btn-text: var(--green-btn-text);
    --link-color: var(--green-link-color);
    --span-color: var(--green-span-color);
}


.white {
    --bg: var(--white-bg-color);
    --text: var(--white-text-color);
    --btn: var(--white-btn-color);
    --btn-text: var(--white-btn-text);
    --link-color: var(--white-link-color);
}




#white::before {
    background: #FFF;
}


#green::before {
    background: #02897A;
}


body {
    background: var(--bg);
    text: var(--text);
    btn: var(--btn);
    btn-text: var(--btn-text);
    link-color: var(--link-color);
}
