.main {
    &-wrapper {
        background: var(--btn);
        border-radius: 32px;
        margin-top: 150px;
    }

    .main-card {
        display: flex;
        gap: 20px;

        &-title {
            margin-top: 50px;
            margin-left: 51px;
            display: flex;
            flex-direction: column;

            h2 {
                font-weight: 600;
                font-size: 32px;
                line-height: 151.4%;
                color: var(--btn-text);
            }
        }

        &-btn {
            margin-top: 48px;

            a {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: var(--btn);
                padding: 13px 35px 13px 33px;
                background: var(--btn-text);
                border-radius: 8px;
                margin-bottom: 56px;
            }
        }
        &-img{
            width: 351px;
            height: 331px;
            margin-left: auto;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: right;
                
            }
        }
    }
}