.price {
    margin-top: 150px;

    &-wrapper {
        h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            color: var(--text);
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--text);
            text-align: center;
        }
    }

    &-card {
        margin-top: 50px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 24px 0 30px 0;

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            color: var(--text);
            text-align: center;

        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            color: var(--text);
        }

        &-per {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 8px;

            .sum {
                font-weight: 700;
                font-size: 76px;
                line-height: 100px;
                letter-spacing: 0.2px;
                color: var(--text);
            }
        }

        &-sign {
            p {
                margin-right: 69px;
                margin-top: 27px;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.1px;
                color: var(--text);
            }

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1px;
                color: #AFAFAF;
            }
        }

        ul {
            margin-top: 16px;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.2px;
                color: var(--text);
            }
        }

        &-btn {
            margin-top: 38px;
            text-align: center;

            a {
                padding: 11px 19px;
                background: var(--btn);
                border-radius: 8px;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: var(--btn-text);
            }
        }
    }

    &-standard {
        background: var(--btn);

        h3 {
            color: var(--btn-text);
        }

        p {
            color: var(--btn-text);
        }

        .sum {
            color: var(--btn-text);
        }

        &-sign {
            color: var(--btn-text);

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1px;
                color: var(--span);
            }
        }

        ul {
            li {
                color: var(--btn-text);
            }
        }

        &-btn {
            a {
                background: var(--btn-text);
                color: var(--btn);
            }
        }
    }
}